<div class="row">
	<div class="large-12 columns">
		<div class="row">
			<div class="large-4 columns">
				<h5>{{settings.fw_one_title}}</h5>
				<p>{{settings.fw_one_txt}}</p>
			</div>
			<div class="large-4 columns">
				<h5>{{settings.fw_two_title}}</h5>
				<p>{{settings.fw_two_txt}}</p>
			</div>
			<div class="large-4 columns">
				<h5>{{settings.fw_three_title}}</h5>
				<p>{{settings.fw_three_txt}}</p>
			</div>
		</div>
	</div>
</div>